defaults: &DEFAULT
  working_directory: /go/src/github.com/cwza/circleci-test
  docker:
      - image: circleci/golang:1.8
        environment:
            GOPATH: /go

defaults2: &DEFAULT2
  working_directory: /go/src/github.com/cwza/circleci-test
    docker:
        - image: circleci/golang:1.8
          environment:
              GOPATH: /gogo

version: 2
jobs:
  cache_workspace:
    <<: *DEFAULT
    steps:
      - checkout
      - persist_to_workspace:
          root: ./
          paths:
            - ./
  test_unit:
    <<: *DEFAULT2
    steps:
      - attach_workspace:
          at: ./
      - run: echo $GOPATH
      - run: ls -al
      - run: echo "make test-unit"
  test_long:
    <<: *DEFAULT
    steps:
      - attach_workspace:
          at: ./
      - run: echo $GOPATH
      - run: ls -al
      - run: echo "make test"
      - run: echo "make test-integration"
  docker_deploy_service1:
    <<: *DEFAULT
    steps:
      - attach_workspace:
          at: ./
      - run: echo $GOPATH
      - run: ls -al
      - run: echo "make build-service1"
      - run: echo "./.circleci/docker-deploy-service1.sh"
  kubernetes_deploy_service1:
    <<: *DEFAULT
    steps:
      - attach_workspace:
          at: ./
      - run: echo $GOPATH
      - run: ls -al
      - run: echo "./.circleci/kubernetes-deploy-service1.sh"
  docker_deploy_service2:
    <<: *DEFAULT
    steps:
      - attach_workspace:
          at: ./
      - run: echo $GOPATH
      - run: ls -al
      - run: echo "make build-service2"
      - run: echo "./.circleci/docker-deploy-service2.sh"
  kubernetes_deploy_service2:
    <<: *DEFAULT
    steps:
      - attach_workspace:
          at: ./
      - run: echo $GOPATH
      - run: ls -al
      - run: echo "./.circleci/kubernetes-deploy-service2.sh"

workflows:
  version: 2
  build-workflow:
    jobs:
      - cache_workspace
      - test_unit:
          requires:
            - cache_workspace
          filters:
            tags:
              only: /.*/
      - test_long:
          requires:
            - test_unit
          filters:
            tags:
              only: /.*/
      - docker_deploy_service1:
          requires:
            - test_long
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
      - kubernetes_deploy_service1:
          requires:
            - docker_deploy_service1
          filters:
            branches:
              only: master
      - docker_deploy_service2:
          requires:
            - test_long
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
      - kubernetes_deploy_service2:
          requires:
            - docker_deploy_service2
          filters:
            branches:
              only: master


# version: 2
# jobs:
#   build:
#     working_directory: /go/src/github.com/cwza/circleci-test
#     docker:
#       - image: circleci/golang:1.8
#     steps:
#       - checkout
#       - run: make test
#       - deploy:
#           name: Docker Provision
#           command: |
#             if [[ -z "${HARBORMASTER_BUILD_TARGET_PHID}" ]]; then
#               chmod +x ./.circleci/deploy-docker.sh
#               ./.circleci/deploy-docker.sh
#             fi
#       - deploy:
#           name: Kubernetes Provision
#           command: |
#             if [[ -z "${HARBORMASTER_BUILD_TARGET_PHID}" && "${CIRCLE_BRANCH}" == "master" ]]; then
#                 chmod +x ./.circleci/deploy-kubernetes.sh
#                 ./.circleci/deploy-kubernetes.sh
#             fi