version: 2
jobs:
  test_unit:
    working_directory: /go/src/github.com/cwza/circleci-test
    docker:
      - image: circleci/golang:1.8
    steps:
      - checkout
      - run: echo "make test-unit"
  test:
    working_directory: /go/src/github.com/cwza/circleci-test
    docker:
      - image: circleci/golang:1.8
    steps:
      - checkout
      - run: echo "make test"
  test_integration:
    working_directory: /go/src/github.com/cwza/circleci-test
    docker:
      - image: circleci/golang:1.8
    steps:
      - checkout
      - run: echo "make test-integration"
  deploy_service1:
    working_directory: /go/src/github.com/cwza/circleci-test
    docker:
      - image: circleci/golang:1.8
    steps:
      - checkout
      - run: echo "make build-service1"
      - run: echo "./.circleci/docker-deploy-service1.sh"
      - run: echo "./.circleci/kubernetes-deploy-service1.sh"
  deploy_service2:
    working_directory: /go/src/github.com/cwza/circleci-test
    docker:
      - image: circleci/golang:1.8
    steps:
      - checkout
      - run: echo "make build-service2"
      - run: echo "./.circleci/docker-deploy-service2.sh"
      - run: echo "./.circleci/kubernetes-deploy-service2.sh"


workflows:
  version: 2
  build-workflow:
    jobs:
      - test_unit
      - test:
          requires:
            - test_unit
      - test_integration:
          requires:
            - test
      - deploy_service1:
          requires:
            - test_integration
          # filters:
          #   branches:
          #     only: master
      - deploy_service2:
          requires:
            - test_integration
          # filters:
          #   branches:
          #     only: master


# version: 2
# jobs:
#   build:
#     working_directory: /go/src/github.com/cwza/circleci-test
#     docker:
#       - image: circleci/golang:1.8
#     steps:
#       - checkout
#       - run: make test
#       - deploy:
#           name: Docker Provision
#           command: |
#             if [[ -z "${HARBORMASTER_BUILD_TARGET_PHID}" ]]; then
#               chmod +x ./.circleci/deploy-docker.sh
#               ./.circleci/deploy-docker.sh
#             fi
#       - deploy:
#           name: Kubernetes Provision
#           command: |
#             if [[ -z "${HARBORMASTER_BUILD_TARGET_PHID}" && "${CIRCLE_BRANCH}" == "master" ]]; then
#                 chmod +x ./.circleci/deploy-kubernetes.sh
#                 ./.circleci/deploy-kubernetes.sh
#             fi