version: 2
jobs:
  build:
    working_directory: /go/src/github.com/cwza/circleci-test
    docker:
      - image: circleci/golang:1.8
    steps:
      - checkout
      - make test
      - deploy:
          name: Docker Provision
          command: |
            if [[ -z "${HARBORMASTER_BUILD_TARGET_PHID}" ]]; then
              chmod +x ./.circleci/deploy-docker.sh
              ./.circleci/deploy-docker.sh
            fi
      - deploy:
          name: Kubernetes Provision
          command: |
            if [[ -z "${HARBORMASTER_BUILD_TARGET_PHID}" && "${CIRCLE_BRANCH}" == "master" ]]; then
                chmod +x ./.circleci/deploy-kubernetes.sh
                ./.circleci/deploy-kubernetes.sh
            fi

# workaround to trigger tag build for circleci 2.0 now
# see this https://discuss.circleci.com/t/git-tag-deploys-in-2-0/9493/8
deployment:
  fake_tag_trigger:
    tag: /v[0-9]+(\.[0-9]+)*/
    commands:
      - echo "make tags run in 2.0"